* {
    margin: 0;
    padding: 0;
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-top: 0px !important;
}

body{
    font-family: 'Lato', sans-serif !important;
}


#container {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.logoHeader {
    padding-left: 10% !important;
    padding-top: 1%;
}

.navfont a {
    font-size: 12px !important;
    width: 100%;
}

.nav-item {
    text-align: center;
    vertical-align: middle;
    padding-top: 1.3%;
    font-size: .8vw;
    line-height: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

.nav-item a {
    color: #8c8c8c;
}

.nav-item a:hover {
    color: #fff;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: #fff !important;
}

.verde a {
    color: green;
}

/* carrousel */
.carousel-caption {
    position: absolute;
    right: 15%;
    top: 33% !important;
    left: 15%;
    /* padding-top: 1.25rem; */
    /* padding-bottom: 1.25rem; */
    color: #fff;
    text-align: center;
}

.headerTitulo {
    font-size: 35px !important;
    text-align: right;
}

.headerParrafo {
    font-size: 17px !important;
    text-align: right;
    padding-left: 50%;
}

.headerButton {
    padding-left: 70%;
}



.box {
    border: 1px solid #dfdfdf;
    text-align: left;
    padding: 0px !important;
    font-family: 'Open Sans', sans-serif;
    margin-right: 10px;
    margin-left: 10px;
}

.pastilla {
    padding: 20px;
}

.btnJavascript {
    background-color: #fec009 !important;
    border: 0px solid !important;
    color: black !important;
    font-weight: bold !important;
    font-size: 11px !important;
}

.btnReact {
    background-color: #17a2b9 !important;
    border: 0px solid !important;
    color: white !important;
    font-weight: bold !important;
    font-size: 11px !important;
}

.btnNegocios {
    background-color: #6c757e !important;
    border: 0px solid !important;
    color: white !important;
    font-weight: bold !important;
    font-size: 11px !important;
}

.btnStartups {
    background-color: #dd3449 !important;
    border: 0px solid !important;
    color: white !important;
    font-weight: bold !important;
    font-size: 11px !important;
}

.pastilla h1 {
    font-size: 30px;
    color: #232428;
    padding: 10px 0px 20px 0px;
    font-family: 'Lato', sans-serif;

}

.pastilla h2 {
    font-size: 16px;
    color: #232428;
    line-height: 24px;
    font-family: 'Lato', sans-serif;

}

.contentBoxGrey {
    background-color: #353a40;
    text-align: left;
}

.contentBoxGrey h1,
h2 {
    color: white;
    line-height: 30px;
}

.contentBoxGrey h1 {
    font-size: 30px;
}

.contentBoxGrey h2 {
    font-size: 15px;
    line-height: 24px;
}

/* carousel */
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: black;
}

.carousel-item img {
    opacity: .5;
}

.btn-outline-secondary {
    --bs-btn-color: #fff !important;
    --bs-btn-border-color: #fff !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #6c757d;
    --bs-btn-hover-border-color: #6c757d;
    --bs-btn-focus-shadow-rgb: 108,117,125;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6c757d;
    --bs-btn-active-border-color: #6c757d;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6c757d;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #6c757d;
    --bs-gradient: none;
}


/* title */

.title h1{
    padding: 20px 0px 0px 0px;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #393939;
}

.title h2{
    padding: 0px 0px 20px 0px;
    font-size: 35px;
    line-height: 20px;
    letter-spacing: 1;
    text-transform: uppercase;
    text-align: center;
    color: #393939;
}

.title h3{
    padding: 0px 0px 20px 0px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #393939;
}

.title a{
    color: black;
    font-weight: bold;
}

.green{
    background-color: #97c93d !important;
    border: 0px !important;
}


.bg-degrade{
    background: rgb(28,82,112);
    background: linear-gradient(90deg, rgba(28,82,112,1) 0%, rgba(31,82,113,1) 100%);
}



.boxCategoria {
    padding: 20px;
    text-align: center;
}

.boxEstudiante{
    margin: 0px 20px;
    border: 1px solid blue;
}

.boxTrainee{
    border: 1px solid green;
}

.boxJunior{
    margin: 0px 20px;
    border: 1px solid orange;
}

.boxCategoria  h1{
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    color: #232428;
    text-align: center;
}

.boxCategoria  h2{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #232428;
    text-align: center;
    line-height: 40px;
}

.boxCategoria  h3{
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: #232428;
    text-align: center;
}
.tituloCategoria{
    padding: 20px 0px 10px 0px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #232428;
    text-align: left;
}

#boxTotalPago{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #232428;
    text-align: left;
    background-color: #dfdfdf;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
}
#boxTotalPago p{
    padding: 20px;
   
}
